$graceful-usage-threshold: 0.1;

$box-shadow-support-threshold: $graceful-usage-threshold;

$default-box-shadow-blur: 5px;
$default-box-shadow-color: #333333;
$default-box-shadow-inset: null;
$default-box-shadow-spread: null;
$default-box-shadow-h-offset: 0px;
$default-box-shadow-v-offset: 0px;


