nav.breadcrumbs ul {
  @include horizontal-list-container;
  margin: 0.5em 0;

  > li {
    @include horizontal-list-item(0);

    a,
    span {
      display: block;
      position: relative;
    }

    a {
      font-weight: bold;
    }
  }
}
