// @font-face {
//   font-family: Ruthie-Regular-OTF;
//   src: url("./Ruthie-Regular-OTF.otf") format("opentype");
// }

$font-content: Arial, Tahoma, Verdama;
$font-elegant: 'Open Sans', sans-serif;
$font-title: Arial, Tahoma, Verdama;
