// @font-face {
//   font-family: Ruthie-Regular-OTF;
//   src: url("./Ruthie-Regular-OTF.otf") format("opentype");
// }

$font-content: 'Roboto', sans-serif;
$font-elegant: 'Open Sans', sans-serif;
$font-title: 'Open Sans', sans-serif;
