#FilterHead,
#Filters {
  display: none;
  label,
  select {
    display: block;
    max-width: 100%;
    width: 100%;
  }  
  select {
    @include border-radius(0);
    background-color: navigation-color(0.5);
    border: solid 1px $divider-color;
    color: $text-color;
  }
}
ol.references,
ul.history {
  .selected {
    background-color: navigation-color(0.5);
  }  
}
ul.history {
  list-style-type: none;
  margin: 0;
  > li {
    margin-bottom: 2em;
  }
  ul {
    margin-top: 0.25em;
  }
  .event {
    padding: 0.1em 0;
  }
}