
#MainNavigation .bar,
#MainNavigation nav .inner,
[role="main"],
body > header > .inner,
body > footer {
  @media screen and (max-width: $pad-width) {
    padding: 0 1em;
  }
  @media screen and (min-width: $pad-width) {
    margin: 0 auto;
    max-width: $small-width;
    width: 90%;
  }
  @media screen and (min-width: $desktop-width) {
    max-width: $pad-width;
  }
}

#MainNavigation nav .inner {
  max-width: 24em;
}