[role="main"] .inner,
body > header,
body > footer {
  @media screen and (max-width: $pad-width) {
    padding: 0 1em;
  }
  @media screen and (min-width: $pad-width) {
    margin: 0 auto;
    max-width: $small-width;
    width: 90%;
  }
  @media screen and (min-width: $desktop-width) {
    max-width: $pad-width;
  }
}

#MainNavigation {
  @media screen and (max-width: $pad-width) {
    #MainMenu {
      display: none;
    }
  }
  @media screen and (min-width: $pad-width) {
    $number_of_menu_items: 4;
    #MainMenu li {
      display: inline-block;
      width: 100% / $number_of_menu_items;
    }
    #MenuTrigger {
      display: none !important;
    }
  }
}