[role="main"] .inner,
body > header,
body > footer {
  @media screen and (min-width: $pad-width) {
    margin: 0 auto;
    max-width: $small-width;
    width: 90%;
  }
  @media screen and (min-width: $desktop-width) {
    max-width: $pad-width;
  }
}

[role="main"] .inner,
body > footer p {
  @media screen and (max-width: $pad-width) {
    padding: 0 1em;
  }
}

body > footer {
  #MoreMenu li {
    display: inline-block;
    padding: 0.5em;
    width: 100%;
  }

  @media screen and (min-width: $smallest-width) {
    $number_of_menu_items: 3;
    #MoreMenu li {
      width: 100% / $number_of_menu_items;
    }
  }
}

[role="banner"] {
  padding-bottom: 0.25em;
  padding-top: 0.5em;

  .title {
    @extend h1;
    display: block;
    margin-top: 0 !important;
    text-decoration: none;
  }
}

#MainNavigation {
  @media screen and (max-width: $pad-width) {
    #MainMenu {
      display: none;
    }
  }
  @media screen and (min-width: $pad-width) {
    $number_of_menu_items: 3;
    #MainMenu li {
      display: inline-block;
      width: 100% / $number_of_menu_items;
    }
    #MenuTrigger {
      display: none !important;
    }
  }
}