@import "compass/reset";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/box-sizing";
@import "compass/css3/filter";
@import "compass/css3/text-shadow";
@import "compass/css3/transition";
@import "compass/typography/lists/horizontal-list";
@import "compass/utilities/general/clearfix";

$pad-width: 40em;
$desktop-width: 60em;

$background-color: #fff;
$divider-color: #000;
$link-color: #000;
$text-color: #000;
$title-color: #000;

body {
	background-color: $background-color;
	color: $text-color;
	font-family: Arial;
	margin: 1em;
	@media screen and (min-width: $pad-width) {
		margin: 1em auto;
		max-width: 24em;
		width: 90%;
	}
	@media screen and (min-width: $desktop-width) {
		max-width: 42em;
	}
}

header,
footer {
	ul {
		@include horizontal-list-container;
		margin-bottom: 0.5em;
		li {
			@include horizontal-list-item;
			margin: 0 0.5em 0 0;
			padding: 0;
		}
	}	
}

a {
	color: $link-color;
}
blockquote {
	@include border-radius(0.5em);
	@include single-box-shadow;
	background-color: rgba(0, 0, 0, 0.2);
	border: solid 1px $divider-color;
	margin: 1em;
	padding: 1em;
	p:last-child {
		margin-bottom: 0;
	}
}
em {
	font-style: italic;
}
h1, h2, h3, h4, h5, h5 {
	color: $title-color;
	font-family: Verdana;
	line-height: 1.25em;
	margin: 1em 0 0.25em;
}
h1 {
	@include text-shadow(0 0 1px $background-color);
	font-size: 2em;
	margin-top: 0.5em;
	text-align: center;
}
h2 {
	font-size: 1.5em;
}
h3 {
	font-size: 1.25em;
}
p {
	line-height: 1.5em;
	margin-bottom: 0.75em;
}
strong {
	font-weight: bold;
}

[role="main"] {
	@include clearfix;
}
[role="main"].index blockquote {
	@include clearfix;
	a {
		clear: left;
		float: right;
	}
}
[role="main"].penguin,
[role="main"].person {
	@media screen and (max-width: $pad-width) {
		header {
			text-align: center;
		}
	}
	@media screen and (min-width: $pad-width) {
		img.profile {
			float: right;
			margin-left: 1em;
			text-align: initial;
		}
	}
}

nav a {
	display: block;
}

nav.penguins,
nav.persons {
	ul li {
		@include clearfix;
		padding:0;
		width: 100%;
		a {
			text-decoration: none;
			img {
				float: left;
				margin-right: 1em;
			}
			.info {
				margin-left: calc(102px + 1em);
			}
			&:hover {
				text-decoration: underline;
			}
		}
	}
}

ul.overview {
	@include horizontal-list-container;
	li {
		@include horizontal-list-item;
		margin: 0 0.5em 0 0;
		padding: 0;
	}
}

img.profile {
	@include border-radius(50%);
	@include box-sizing;
	@include single-box-shadow;
	border: solid 1px black;
	margin-bottom: 0.5em;
}

footer {
	border-top: solid 1px $divider-color;
	margin-top: 1em;
	padding: 0.5em 0;
}