@import "compass/reset";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/box-sizing";
@import "compass/css3/filter";
@import "compass/css3/opacity";
@import "compass/css3/text-shadow";
@import "compass/css3/transform";
@import "compass/css3/transition";
@import "compass/typography/lists/horizontal-list";
@import "compass/utilities/general/clearfix";

@import "./fonts";

$small-width: 34em;
$pad-width: 42em;
$desktop-width: 60em;

$background-color: #fff;
$divider-color: #000;
$link-color: #000;
$navigation-background-color: #FFB619;
$navigation-background-color-r: 255;
$navigation-background-color-g: 182;
$navigation-background-color-b: 25;
$text-color: #000;
$title-color: #000;

$elegant-background-image: url('./elegant.jpg');
$elegant-background-color: #000;
$elegant-color: #fff;
$elegant-font-family: $font-elegant;

body {
  background-color: $background-color;
  color: $text-color;
  font-family: $font-content;
  #MainNavigation {
  	padding-top: 1em;
  }
	> header {
		text-align: center;
	}
  > footer {
  	padding-bottom: 1em;
  }
  &.association > header,
  &.penguin > header,
  &.person > header {
  	background: $elegant-background-color $elegant-background-image center center;
  	> .inner {
			@include clearfix;
	  	a,
	  	h1,
	  	p {
				@include text-shadow(0 0 1px $elegant-background-color);
		  	color: $elegant-color;
	  	}
	  	h1 {
		  	font-family: $elegant-font-family;
		  	font-size: 3em;
	  	}
	  	img {
				@include single-box-shadow(0, 0, 0);
				border-color: rgba(255, 255, 255, 0.25);
				border-width: 0.5em;
				margin: 0;
	  	}
  	}
  }
}

@import "layout";

footer {
	ul {
		@include horizontal-list-container;
		margin-bottom: 0.5em;
		li {
			@include horizontal-list-item;
			margin: 0.25em 0.25em 0 0;
			padding: 0;
		}
	}	
}

a {
	color: $link-color;
}
blockquote {
	@include border-radius(0.5em);
	@include single-box-shadow;
	background-color: rgba(0, 0, 0, 0.2);
	border: solid 1px $divider-color;
	margin: 1em;
	padding: 1em;
	p:last-child {
		margin-bottom: 0;
	}
}
em {
	font-style: italic;
}
h1, h2, h3, h4, h5, h5 {
	color: $title-color;
	font-family: $font-title;
	line-height: 1.25em;
	margin: 1rem 0 0.25rem;
}
h1 {
	@include text-shadow(0 0 1px $background-color);
	font-size: 2em;
	margin-top: 0.5rem;
}
h2 {
	font-size: 1.5em;
}
h3 {
	font-size: 1.25em;
}
p {
	line-height: 1.5em;
	margin-bottom: 0.5em;
}
strong {
	font-weight: bold;
}

[role="main"] {
	@include clearfix;
	ul {
		list-style-type: disc;
		margin: 0.75em 0 0.75em 1.25em;
	}
}

nav a {
	display: block;
}

nav.persons ul,
nav.years ul,
ul.penguins,
ul.persons {
	margin: 0;
	list-style-type: none;
}

nav.penguins ul,
nav.persons ul,
ul.classes {
	li {
		@include clearfix;
		padding:0;
		width: 100%;
		h3 {
			margin-top: 0;
		}
		img {
			float: left;
			margin-right: 1em;
		}
		.info {
			margin-left: calc(102px + 1em);
		}
	}
}

ul.classes {
	margin: 0;
	list-style-type: none;
}

ul.overview {
	@include horizontal-list-container;
	li {
		@include horizontal-list-item;
		margin: 0 0.25em 0 0;
		padding: 0;
	}
}

img.class,
img.profile {
	@include border-radius(50%);
	@include box-sizing;
	@include single-box-shadow;
	border: solid 1px $divider-color;
	margin-bottom: 0.5em;
}
img.profile + img.class {
	$width: 40;
	$offset: 10;
	@include single-box-shadow(0, 0, 0);
	bottom: $offset * -1px;
	left: ($width - $offset) * -1px;
	position: relative;
	width: $width * 1px;
}

footer {
	border-top: solid 1px $divider-color;
	margin-top: 1em;
	padding: 0.5em 0;
}

@import "breadcrumbs";
@import "navigation";