extends layout

block prepend title
  | Grader -

block vars
  - var mainclass = 'classes';

block content
  != page.html
  ul.classes
    each className in contents['structure.json'].metadata.classes.hierarchy
      li
        - var _class = contents.class[className]['index.md']
        img.class(src=locals.url+'/class/' + className + '/thumb.jpg', title=_class.title)
        .info
          h3= _class.metadata.title
          != _class.html

