extends layout

block prepend title
  | Forside -

block vars
  - var mainclass = 'index';

block content
  blockquote 
    p Ordenen tildeles som belønning for utmerkede fortjenester for studentmiljøet ved Ifi.
    a(href=locals.url+'/about') Mer om ordenen
  h2 Personer som er tildelt ordenen
  - var structureFile = contents.person['structure.json'].metadata
  - var individualPath = contents.person
  include ./structure.jade
