extends layout

block prepend title
  | Forside -

block vars
  - var mainclass = 'index';

block breadcrumbs

block content
  != page ? page.html : ''
  h2 Nyheter
  include ./articleList.jade
  h2 Medlemmer
  - var root = contents['structure.json'].metadata.persons
  include ./structure.jade
