extends layout

block prepend title
  | Forside -

block vars
  - const mainclass = 'index';

block breadcrumbs

block content
  != page ? page.html : ''
  - const article = env.helpers.getArticles(contents)[0];
  include ./articleListItem
  h2 Mottagere av Ifi-ordenen
  p Listen under viser alle som har mottatt Hennes Majestet Keiserpingvinen den Fornemmes orden gjennom tidene.
  - const root = contents['structure.json'].metadata.persons
  include ./structure.pug
