extends layout

block prepend title
  | Forside -

block vars
  - var mainclass = 'index';

block content
  != page.html
  h2 Personer som er tildelt ordenen
  - var root = contents['structure.json'].metadata.persons
  include ./structure.jade
