extends layout

block prepend title
  | Forside -

block vars
  - var mainclass = 'index';

block breadcrumbs

block content
  != page ? page.html : ''
  h2 Oppdateringer
  - var article = env.helpers.getArticles(contents)[0];
  nav.articles
    ul
      li
        include ./articleListItem
  p
    a(href=locals.url+"/article") Arkiv
  h2 Medlemmer
  - var root = contents['structure.json'].metadata.persons
  include ./structure.jade
