extends layout

block prepend title
  | Forside -

block vars
  - const mainclass = 'index';

block breadcrumbs

block content
  != page ? page.html : ''
  h2 Oppdateringer
  - const article = env.helpers.getArticles(contents)[0];
  ul.articles
    li
      include ./articleListItem
  p
    a(href=env.helpers.getUrl(contents, 'article')) Arkiv
  hr
  h2 Mottagere
  - const root = contents['structure.json'].metadata.persons
  include ./structure.pug
