#MainNavigation
  button#MenuTrigger
    span= t.nav.menu
  nav#MainMenu
    ul
      li
        a(href=env.helpers.getUrl(contents, 'person'))= t.nav.person
      li
        a(href=env.helpers.getUrl(contents, 'about'))= t.nav.about
      li
        a(href=env.helpers.getUrl(contents, 'nominate'))= t.nav.nominate