#MainNavigation
  button#MenuTrigger
    span= t.nav.menu
  nav#MainMenu(aria-hidden="true")
    ul
      li
        a(href=locals.url)= t.nav.index
      li
        a(href=locals.url+'/person')= t.nav.person
      li
        a(href=locals.url+'/about')= t.nav.about