extends layout

block prepend title
  | #{page.title} -

block vars
  - mainclass = 'penguin';

block before_title
  img.profile(src='./thumb.jpg')

block after_title
    p 
      strong #{page.metadata.rank} i Pingvingarden

block content
  != page.html
