extends layout

block prepend title
  | Personer som er tildelt ordenen -

block vars
  - var mainclass = 'persons';

block content
  != page.html
  - var root = contents['structure.json'].metadata.persons
  include ./structure.jade
