extends layout

block prepend title
  | Titler -

block vars
  - var mainclass = 'titles';

block content
  != page.html
  ul.titles
    each titleName in contents['structure.json'].metadata.titles.hierarchy
      li
        - const _title = contents.title[titleName].index
        img.class(src=env.helpers.getThumb(_title), title=_title.title)
        .info
          h3= _title.metadata.title
          != _title.html

